<template name="layout">
<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<p class="navbar-brand" href="#">Binge Fighters</p>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
	</div>
	<div class="navbar-collapse collapse">
		
		<ul class="nav navbar-nav navbar-right">
			{{> loginButtons}} <!-- here -->
		</ul>
	</div>
</div>
<div class="main">
  <div class="yield">
      {{> yield}}
  </div>
  <div class="tchat">
   	<h1>Chat</h1>
  </div>
</div>
</template>
